body{
    margin: 0%;
}

.header{
    background-color: #FCC8F8;
     color: #F11A7B;
     font-size: larger;
    margin: 0%;
    padding: 30px;
    text-align: center;
    width:100%;
    height: 150px;
}
.topnav{
    background-color: #C7F5FE;
    overflow: hidden;
    width: 104%;
    height: 50px;
    margin: 0%;
    border: #F11A7B solid 3px;
}
.topnav a {
    color: #F11A7B;
    font-size: larger;
    text-decoration: none;
    padding: 16px 16px;
    text-align: center;
    display: inline;
}
.topnav a:hover{
    background-color: #F11A7B;
    color:#E0E0E0;

}

ul>li{
    list-style-type: none;
    display: inline;
}
.mycontainer{
    display: flex;

}

.side{
background-color: white;
width:33.33%;
margin: 0%;
padding: 10px;
text-align: justify;
height: 550px;
color: rgba(0, 0, 0, 0.51);
font-size: large;
border:  #F8E1F4 solid 5px;

}
.side p{
    text-indent: 50px;
}


.main{

    background-color: white;
    width: 66.67%;
    height: 550px;
    border:  5px;
    margin: 0%;
    padding: 10px;
    text-align:center;

}
.main video{

    align-content: center;
    margin: 25px;
     border-radius: 4px;
     box-shadow: 0 0 25px #75e1ef,
                 0 0 25px #7ed9e5,
                 0 0 25px #77e7f6,
                 0 0 25px #97E5EF;

}

.wrap{
    background-color: #17153B;
    width: 100%;
    height: 250px;
    margin: 0%;
    padding: 20px;
    text-align: center;
    color: #EEEEEE;
    font-size:20px;
}
.wrap a{
    color: #17153B;
    text-decoration: none;
    background-color: #EEEEEE;
    padding: 5px;
}

